/* --------------------------
         Fonts
---------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* --------------------------
         Common Style
---------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
.container{
    width: 90%;
    margin: 50px auto;
    /* border: 1px solid; */
}
/* --------------------------
         Top Section
---------------------------- */

.top-section{
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 10px 80px;
    background: #161616;
    border-radius: 25px;
    position: relative;

}
@keyframes bouncing{
    0%{
        top: 0;
        right: 0;
        transform: rotate(180deg);
    }
    100%{
        top: 89%;
        transform: rotate(180deg);
    }
}
/* --------------------------
         animation end
---------------------------- */

.top-section h1{
    font-weight: 700;
    font-size: 60px;
    color: #faeeee;
    line-height: 70px;
}
.top-section p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #faeeee;
}
.buttom{
    margin-top: 30px;
    padding: 16px 25px;
    border-radius: 30px;
    background-color: #e44545;
    color: #faeeee;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.buttom:hover{
    background-color: #d62727;
    font-size: 25px;
}
.buttom i{
    margin-left: 2px;
}
.top-picture img{
    width: 500px;
    height: 600px;
    transition: 1s;
}
.top-picture img:hover {
    transform: scale(0.9);
}
/* --------------------------
         Blogs Section
---------------------------- */
.blogs-section{
    margin-top: 100px;
    position: relative;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin-left: 400px;
}
.fixed-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    padding: 30px;
}
.nav-btn{
    margin-bottom: 30px;
    width: 254px;
    height: 64px;
    border-radius: 10px;
    background-color: #faeeee;
    cursor: pointer;
    transition: 0.4s;
}
.nav-btn:hover{
    background-color: orange;
}
.nav-btn a{
    text-decoration: none;
    color: #161616;
    font-weight: 500;
    font-size: 20px;    
}
.active{
    margin-bottom: 30px;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    background-color: #e44545;
    cursor: pointer;    
}
.active a{
    color: #faeeee;
    font-weight: 500;
    font-size: 20px;
}
.blog-iteam{
    /* width: 350px; */
    height: 363px;
    border-radius: 10px;
    box-shadow: 0 0 5px #a09999;
}
.blog-iteam img{
    width: 100%;
    height: 185px; 
    margin-bottom: 20px; 
}
.article-btn{
    width: 100px;
    height: 32px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    margin-left: 20px;
    margin-bottom: 15px;
    background-color: #fad4d4;
}
.blog-iteam p{
    width: 272px;
    height: 54px;
    color: #161616;
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.blog-iteam .icon{
    width: 143px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    align-items: center;
}
.blog-iteam .icon i{
    margin-right: 10px;
}
.div-btn{
    display: none;
}

/* --------------------------
          Footer
---------------------------- */

footer{
    background: #161616;
    margin-top: 100px;
}
.footer-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-area h2{
    margin-top: 50px;
    font-weight: 600;
    font-size: 40px;
    color: #faeeee;
}
hr{
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 30px 0;
}
.footer-area ul{
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 90%;
}
.footer-area ul li{
    list-style: none;
}
.footer-area ul li a{
    font-size: 16px;
    color: #B9B9B9;
    text-decoration: none;
}
.footer-icon ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}
.footer-icon ul li{
    list-style: none;
    font-size: 28px;
    color: #faeeee;
    cursor: pointer;
}

/* --------------------------
     For upcoming match 
     Linked with button
---------------------------- */

.flag-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 80px;
}
.flag-card{
    width: 312px;
    height: 242px;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #d7c1c1;
}
.flag{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flag img{
    width: 93px;
    height: 55px;
}
.flag-card h3{
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.flag-card p{
    text-align: center;
}

/* --------------------------
          Media Query
          For Mobile
---------------------------- */

@media screen and (max-width: 668px) {
    .container{
        width: 100%;
        margin: 0;
    }
    .top-section{
        padding-top: 50px;
        flex-direction: column;
        text-align: center;
        border-radius: 0 0 30px 30px;
    }
    .top-section h1{
        font-size: 24px;
        line-height: 33px;
    }
    .top-section p{
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
    }
    .top-section-img img{
        width: 233px;
        height: 245px;
    }

    /* -------------------------- */

   
    .blogs-section{
        margin-top: 0px;
    }

    .fixed-nav{
        position: unset;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        width: 70%;
        height: 260px;
        background-color: #fff;
        padding: 0;
    }
    .nav-btn{
        margin: 10px auto;
        width: 200px;
        height: 60px;
        border: none;
        font-size: 16px;
    }
     .blogs{
        grid-template-columns: repeat(1, 1fr);
        margin: 10px auto;
        justify-items: center;
     }
     .blog-iteam {
        width: 390px;
        height: 425px;
      }
     .blog-iteam img {
        width: 390px;
        height: 240px;
    }
    .div-btn{
        display: none;
    }
    /* ---------------------- */

     footer{
        margin-top: 70px;
     }
     .footer-area{
        margin-top: 0;
        flex-direction: column;
    }
    .footer-area ul{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
/* Upcoming match section */
.flag-section{
    grid-template-columns: repeat(1, 1fr); 
    grid-gap: 20px;
  }
}

/* --------------------------
          Media Query
          For Tablet
---------------------------- */

@media screen and (min-width: 668px) and (max-width: 992px) {
    
    .top-section{
        padding: 15px 30px;

    }

    .top-section h1{
        font-size: 40px;
        line-height: 50px;
        margin-top: 30px;
    }
    .top-section p{
        font-size: 16px;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .top-section-img img{
        width: 375px;
        height: 412px;
    }
    
    /* --------------------- */

    .blogs-section{
        margin-top: 30px;
    }

    .fixed-nav{
        position: unset;
        display: flex;
        justify-content: center;
        gap: 25px;      
        width: 90%;
        height: 160px;
        margin: 0 auto;
        background-color: #fff;   
    }
    .nav-btn{
        margin: 10px auto;
        width: 200px;
        height: 60px;
        border: none;
        font-size: 16px;
    }
     .blogs{
        grid-template-columns: repeat(2, 1fr);
        margin: 0px auto;
        justify-items: center;
     }
     .blog-iteam {
        width: 350px;
        height: 425px;
      }
     .blog-iteam img {
        width: 350px;
        height: 240px;
    }
    article:nth-last-child(9){
        display: none;
    }
    .div-btn{
        display: block;
        width: 100%; 
        text-align: center;
        margin-top: 30px;
    }
    /* ----------------------- */

    footer{
        margin-top: 50px;
    }
    .footer-area ul{
        width: 600px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 60px; 
    }
    /* Upcoming match section */
.flag-section{
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 30px;
  }
}




/* ----------End------------ */








/* Not for Assignment  */

/* 
@media screen and (min-width: 992px) and (max-width: 1450px){

    .blogs{
        grid-template-columns: repeat(2, 1fr);
         margin: 0px auto;
        justify-items: center;
        margin-left: 340px;
     }
     article:nth-last-child(9){
        display: none;
    }
}
 */


